@font-face {
  font-family: "kentfont";
  src: url("../fonts/kentfont.eot");
  src: url("../fonts/kentfont.eot?#iefix") format("embedded-opentype"), url("../fonts/kentfont.woff") format("woff"), url("../fonts/kentfont.ttf") format("truetype"), url("../fonts/kentfont.svg?#kentfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
.kf,
[class^="kf-"],
[class*=" kf-"] {
  display: inline-block;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  transform: translate(0px, 0px);
}
.kf:before,
[class^="kf-"]:before,
[class*=" kf-"]:before {
  font-family: "kentfont";
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.kf-book:before {
  content: "\f02d";
}
.kf-chevron-down:before {
  content: "\f078";
}
.kf-chevron-left:before {
  content: "\f053";
}
.kf-chevron-right:before {
  content: "\f054";
}
.kf-chevron-up:before {
  content: "\f077";
}
.kf-circle:before {
  content: "\f111";
}
.kf-creative-commons:before {
  content: "\f25e";
}
.kf-email:before {
  content: "\f0e0";
}
.kf-facebook:before {
  content: "\f09a";
}
.kf-kent-block:before {
  content: "\e002";
}
.kf-kent-horizontal:before {
  content: "\e001";
}
.kf-kent-ke:before {
  content: "\e003";
}
.kf-kent-vision:before {
  content: "\e006";
}
.kf-krimson:before {
  content: "\e00c";
}
.kf-library-search:before {
  content: "\f0ac";
}
.kf-location:before {
  content: "\f124";
}
.kf-lock:before {
  content: "\f023";
}
.kf-moodle:before {
  content: "\e004";
}
.kf-pin:before {
  content: "\f041";
}
.kf-sds:before {
  content: "\f080";
}
.kf-search:before {
  content: "\f002";
}
.kf-spinner:before {
  content: "\f1ce";
}
.kf-square:before {
  content: "\f04d";
}
.kf-timetables:before {
  content: "\e007";
}
.kf-twitter:before {
  content: "\f099";
}
.kf-user:before {
  content: "\f007";
}
.kf-wheelchair:before {
  content: "\f193";
}
.kf-academia-edu:before {
  content: "\e010";
}
.kf-angle-down:before {
  content: "\f107";
}
.kf-angle-left:before {
  content: "\f104";
}
.kf-angle-right:before {
  content: "\f105";
}
.kf-angle-up:before {
  content: "\f106";
}
.kf-backward:before {
  content: "\f04a";
}
.kf-ban:before {
  content: "\f05e";
}
.kf-calendar:before {
  content: "\f073";
}
.kf-camera:before {
  content: "\f030";
}
.kf-captions-off:before {
  content: "\e00e";
}
.kf-captions:before {
  content: "\e00d";
}
.kf-caret-down:before {
  content: "\f0d7";
}
.kf-caret-left:before {
  content: "\f0d9";
}
.kf-caret-right:before {
  content: "\f0da";
}
.kf-caret-up:before {
  content: "\f0d8";
}
.kf-check-circle:before {
  content: "\f05d";
}
.kf-check:before {
  content: "\f00c";
}
.kf-chevron-down-square:before {
  content: "\e00b";
}
.kf-chevron-left-square:before {
  content: "\e008";
}
.kf-chevron-right-square:before {
  content: "\e009";
}
.kf-chevron-up-square:before {
  content: "\e00a";
}
.kf-clock:before {
  content: "\f017";
}
.kf-close-circle:before {
  content: "\f101";
}
.kf-close:before {
  content: "\f00d";
}
.kf-cog:before {
  content: "\f013";
}
.kf-comment:before {
  content: "\f075";
}
.kf-compress:before {
  content: "\f066";
}
.kf-download:before {
  content: "\f019";
}
.kf-email-o:before {
  content: "\f003";
}
.kf-exclamation-circle:before {
  content: "\f06a";
}
.kf-expand:before {
  content: "\f065";
}
.kf-external-link:before {
  content: "\f08e";
}
.kf-file-text:before {
  content: "\f0f6";
}
.kf-flickr:before {
  content: "\f16e";
}
.kf-forward:before {
  content: "\f102";
}
.kf-frown:before {
  content: "\f119";
}
.kf-google-plus:before {
  content: "\f0d5";
}
.kf-heart-o:before {
  content: "\f08a";
}
.kf-heart:before {
  content: "\f004";
}
.kf-home:before {
  content: "\f015";
}
.kf-info-circle:before {
  content: "\f05a";
}
.kf-instagram:before {
  content: "\f16d";
}
.kf-linkedin:before {
  content: "\f0e1";
}
.kf-list:before {
  content: "\f03a";
}
.kf-meh:before {
  content: "\f11a";
}
.kf-mendeley:before {
  content: "\e00f";
}
.kf-menu:before {
  content: "\f0c9";
}
.kf-minus:before {
  content: "\f068";
}
.kf-pause:before {
  content: "\f04c";
}
.kf-phone:before {
  content: "\f095";
}
.kf-pinterest:before {
  content: "\f0d2";
}
.kf-play-circle:before {
  content: "\f144";
}
.kf-play:before {
  content: "\f04b";
}
.kf-plus:before {
  content: "\f067";
}
.kf-question-circle:before {
  content: "\f059";
}
.kf-rss:before {
  content: "\f09e";
}
.kf-smile:before {
  content: "\f118";
}
.kf-sort-asc:before {
  content: "\f0de";
}
.kf-sort-desc:before {
  content: "\f0dd";
}
.kf-sort:before {
  content: "\f0dc";
}
.kf-soundcloud:before {
  content: "\f1be";
}
.kf-star-o:before {
  content: "\f006";
}
.kf-star:before {
  content: "\f005";
}
.kf-step-backward:before {
  content: "\f048";
}
.kf-step-forward:before {
  content: "\f051";
}
.kf-trophy:before {
  content: "\f091";
}
.kf-tumblr:before {
  content: "\f173";
}
.kf-undo:before {
  content: "\f0e2";
}
.kf-university:before {
  content: "\f19c";
}
.kf-users:before {
  content: "\f0c0";
}
.kf-volume-high:before {
  content: "\f028";
}
.kf-volume-low:before {
  content: "\f027";
}
.kf-volume-medium:before {
  content: "\e005";
}
.kf-volume-mute:before {
  content: "\f026";
}
.kf-weibo:before {
  content: "\f18a";
}
.kf-wifi:before {
  content: "\f103";
}
.kf-youtube:before {
  content: "\f167";
}
.kf-fw {
  width: 1.28571429em;
  text-align: center;
}
/* makes the font 33% larger relative to the icon container */
.kf-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.kf-2x {
  font-size: 2em;
}
.kf-3x {
  font-size: 3em;
}
.kf-4x {
  font-size: 4em;
}
.kf-5x {
  font-size: 5em;
}
.kf-border {
  padding: .2em .25em .15em;
  border: solid .08em #eee;
  border-radius: .1em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.kf.pull-left {
  margin-right: .3em;
}
.kf.pull-right {
  margin-left: .3em;
}
.kf-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.kf-stack-1x,
.kf-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.kf-stack-1x {
  line-height: inherit;
}
.kf-stack-2x {
  font-size: 2em;
}
.kf-inverse {
  color: #fff;
}
.kf-stack-lock {
  bottom: -9px;
}
.kf-spin {
  -webkit-animation: kf-spin 2s infinite linear;
  animation: kf-spin 2s infinite linear;
}
.kf-pulse {
  -webkit-animation: kf-spin 1s infinite steps(8);
  animation: kf-spin 1s infinite steps(8);
}
@-webkit-keyframes kf-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes kf-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.kf-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.kf-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.kf-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.kf-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.kf-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
.kf-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.kf-ul > li {
  position: relative;
}
.kf-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.kf-li.kf-lg {
  left: -1.85714286em;
}
