@font-face {
  font-family: "kentfont-lite";
  src: url("../fonts/kentfont-lite.eot");
  src: url("../fonts/kentfont-lite.eot?#iefix") format("embedded-opentype"), url("../fonts/kentfont-lite.woff") format("woff"), url("../fonts/kentfont-lite.ttf") format("truetype"), url("../fonts/kentfont-lite.svg?#kentfont-lite") format("svg");
  font-weight: normal;
  font-style: normal;
}
.kf,
[class^="kf-"],
[class*=" kf-"] {
  display: inline-block;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  transform: translate(0px, 0px);
}
.kf:before,
[class^="kf-"]:before,
[class*=" kf-"]:before {
  font-family: "kentfont-lite";
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.kf-book:before {
  content: "\f02d";
}
.kf-chevron-down:before {
  content: "\f078";
}
.kf-chevron-left:before {
  content: "\f053";
}
.kf-chevron-right:before {
  content: "\f054";
}
.kf-chevron-up:before {
  content: "\f077";
}
.kf-circle:before {
  content: "\f111";
}
.kf-creative-commons:before {
  content: "\f25e";
}
.kf-email:before {
  content: "\f0e0";
}
.kf-facebook:before {
  content: "\f09a";
}
.kf-kent-block:before {
  content: "\e002";
}
.kf-kent-horizontal:before {
  content: "\e001";
}
.kf-kent-ke:before {
  content: "\e003";
}
.kf-kent-vision:before {
  content: "\e006";
}
.kf-krimson:before {
  content: "\e00c";
}
.kf-library-search:before {
  content: "\f0ac";
}
.kf-location:before {
  content: "\f124";
}
.kf-lock:before {
  content: "\f023";
}
.kf-moodle:before {
  content: "\e004";
}
.kf-pin:before {
  content: "\f041";
}
.kf-sds:before {
  content: "\f080";
}
.kf-search:before {
  content: "\f002";
}
.kf-spinner:before {
  content: "\f1ce";
}
.kf-square:before {
  content: "\f04d";
}
.kf-timetables:before {
  content: "\e007";
}
.kf-twitter:before {
  content: "\f099";
}
.kf-user:before {
  content: "\f007";
}
.kf-wheelchair:before {
  content: "\f193";
}
.kf-fw {
  width: 1.28571429em;
  text-align: center;
}
/* makes the font 33% larger relative to the icon container */
.kf-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.kf-2x {
  font-size: 2em;
}
.kf-3x {
  font-size: 3em;
}
.kf-4x {
  font-size: 4em;
}
.kf-5x {
  font-size: 5em;
}
.kf-border {
  padding: .2em .25em .15em;
  border: solid .08em #eee;
  border-radius: .1em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.kf.pull-left {
  margin-right: .3em;
}
.kf.pull-right {
  margin-left: .3em;
}
.kf-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.kf-stack-1x,
.kf-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.kf-stack-1x {
  line-height: inherit;
}
.kf-stack-2x {
  font-size: 2em;
}
.kf-inverse {
  color: #fff;
}
.kf-stack-lock {
  bottom: -9px;
}
.kf-spin {
  -webkit-animation: kf-spin 2s infinite linear;
  animation: kf-spin 2s infinite linear;
}
.kf-pulse {
  -webkit-animation: kf-spin 1s infinite steps(8);
  animation: kf-spin 1s infinite steps(8);
}
@-webkit-keyframes kf-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes kf-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.kf-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.kf-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.kf-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.kf-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.kf-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
.kf-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.kf-ul > li {
  position: relative;
}
.kf-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.kf-li.kf-lg {
  left: -1.85714286em;
}
