@font-face {
  font-family: "kentfont";
  src: url("../fonts/kentfont.eot");
  src: url("../fonts/kentfont.eot?#iefix") format("embedded-opentype"), url("../fonts/kentfont.woff") format("woff"), url("../fonts/kentfont.ttf") format("truetype"), url("../fonts/kentfont.svg?#kentfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="kf-"]:before,
[class*=" kf-"]:before {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.kf-book,
.kf-chevron-down,
.kf-chevron-left,
.kf-chevron-right,
.kf-chevron-up,
.kf-circle,
.kf-creative-commons,
.kf-email,
.kf-facebook,
.kf-kent-block,
.kf-kent-horizontal,
.kf-kent-ke,
.kf-library-search,
.kf-location,
.kf-moodle,
.kf-pin,
.kf-sds,
.kf-search,
.kf-spinner,
.kf-square,
.kf-timetables,
.kf-twitter,
.kf-user,
.kf-wheelchair,
.kf-angle-down,
.kf-angle-left,
.kf-angle-right,
.kf-angle-up,
.kf-camera,
.kf-caret-down,
.kf-caret-left,
.kf-caret-right,
.kf-caret-up,
.kf-check,
.kf-close,
.kf-exclamation-circle,
.kf-external-link,
.kf-google-plus,
.kf-heart-o,
.kf-heart,
.kf-home,
.kf-info-circle,
.kf-linkedin,
.kf-list,
.kf-menu,
.kf-minus,
.kf-pause,
.kf-play,
.kf-plus,
.kf-sort-asc,
.kf-sort-desc,
.kf-star-o,
.kf-star,
.kf-volume-high,
.kf-volume-low,
.kf-volume-medium,
.kf-volume-mute {
  display: inline-block;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  transform: translate(0px, 0px);
}
.kf-book:before,
.kf-chevron-down:before,
.kf-chevron-left:before,
.kf-chevron-right:before,
.kf-chevron-up:before,
.kf-circle:before,
.kf-creative-commons:before,
.kf-email:before,
.kf-facebook:before,
.kf-kent-block:before,
.kf-kent-horizontal:before,
.kf-kent-ke:before,
.kf-library-search:before,
.kf-location:before,
.kf-moodle:before,
.kf-pin:before,
.kf-sds:before,
.kf-search:before,
.kf-spinner:before,
.kf-square:before,
.kf-timetables:before,
.kf-twitter:before,
.kf-user:before,
.kf-wheelchair:before,
.kf-angle-down:before,
.kf-angle-left:before,
.kf-angle-right:before,
.kf-angle-up:before,
.kf-camera:before,
.kf-caret-down:before,
.kf-caret-left:before,
.kf-caret-right:before,
.kf-caret-up:before,
.kf-check:before,
.kf-close:before,
.kf-exclamation-circle:before,
.kf-external-link:before,
.kf-google-plus:before,
.kf-heart-o:before,
.kf-heart:before,
.kf-home:before,
.kf-info-circle:before,
.kf-linkedin:before,
.kf-list:before,
.kf-menu:before,
.kf-minus:before,
.kf-pause:before,
.kf-play:before,
.kf-plus:before,
.kf-sort-asc:before,
.kf-sort-desc:before,
.kf-star-o:before,
.kf-star:before,
.kf-volume-high:before,
.kf-volume-low:before,
.kf-volume-medium:before,
.kf-volume-mute:before {
  font-family: "kentfont";
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}
.kf-book:before {
  content: "\f02d";
}
.kf-chevron-down:before {
  content: "\f078";
}
.kf-chevron-left:before {
  content: "\f053";
}
.kf-chevron-right:before {
  content: "\f054";
}
.kf-chevron-up:before {
  content: "\f077";
}
.kf-circle:before {
  content: "\f111";
}
.kf-creative-commons:before {
  content: "\f25e";
}
.kf-email:before {
  content: "\f0e0";
}
.kf-facebook:before {
  content: "\f09a";
}
.kf-kent-block:before {
  content: "\e002";
}
.kf-kent-horizontal:before {
  content: "\e001";
}
.kf-kent-ke:before {
  content: "\e003";
}
.kf-library-search:before {
  content: "\f0ac";
}
.kf-location:before {
  content: "\f124";
}
.kf-moodle:before {
  content: "\e004";
}
.kf-pin:before {
  content: "\f041";
}
.kf-sds:before {
  content: "\f080";
}
.kf-search:before {
  content: "\f002";
}
.kf-spinner:before {
  content: "\f1ce";
}
.kf-square:before {
  content: "\f04d";
}
.kf-timetables:before {
  content: "\f073";
}
.kf-twitter:before {
  content: "\f099";
}
.kf-user:before {
  content: "\f007";
}
.kf-wheelchair:before {
  content: "\f193";
}
.kf-angle-down:before {
  content: "\f107";
}
.kf-angle-left:before {
  content: "\f104";
}
.kf-angle-right:before {
  content: "\f105";
}
.kf-angle-up:before {
  content: "\f106";
}
.kf-camera:before {
  content: "\f030";
}
.kf-caret-down:before {
  content: "\f0d7";
}
.kf-caret-left:before {
  content: "\f0d9";
}
.kf-caret-right:before {
  content: "\f0da";
}
.kf-caret-up:before {
  content: "\f0d8";
}
.kf-check:before {
  content: "\f00c";
}
.kf-close:before {
  content: "\f00d";
}
.kf-exclamation-circle:before {
  content: "\f06a";
}
.kf-external-link:before {
  content: "\f08e";
}
.kf-google-plus:before {
  content: "\f0d5";
}
.kf-heart-o:before {
  content: "\f08a";
}
.kf-heart:before {
  content: "\f004";
}
.kf-home:before {
  content: "\f015";
}
.kf-info-circle:before {
  content: "\f05a";
}
.kf-linkedin:before {
  content: "\f0e1";
}
.kf-list:before {
  content: "\f03a";
}
.kf-menu:before {
  content: "\f0c9";
}
.kf-minus:before {
  content: "\f068";
}
.kf-pause:before {
  content: "\f04c";
}
.kf-play:before {
  content: "\f04b";
}
.kf-plus:before {
  content: "\f067";
}
.kf-sort-asc:before {
  content: "\f0de";
}
.kf-sort-desc:before {
  content: "\f0dd";
}
.kf-star-o:before {
  content: "\f006";
}
.kf-star:before {
  content: "\f005";
}
.kf-volume-high:before {
  content: "\f028";
}
.kf-volume-low:before {
  content: "\f027";
}
.kf-volume-medium:before {
  content: "\e005";
}
.kf-volume-mute:before {
  content: "\f026";
}
.kf-fw {
  width: 1.28571429em;
  text-align: center;
}
/* makes the font 33% larger relative to the icon container */
.kf-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.kf-2x {
  font-size: 2em;
}
.kf-3x {
  font-size: 3em;
}
.kf-4x {
  font-size: 4em;
}
.kf-5x {
  font-size: 5em;
}
.kf-border {
  padding: .2em .25em .15em;
  border: solid .08em #eee;
  border-radius: .1em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.kf.pull-left {
  margin-right: .3em;
}
.kf.pull-right {
  margin-left: .3em;
}
.kf-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.kf-stack-1x,
.kf-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.kf-stack-1x {
  line-height: inherit;
}
.kf-stack-2x {
  font-size: 2em;
}
.kf-inverse {
  color: #fff;
}
.kf-spin {
  -webkit-animation: kf-spin 2s infinite linear;
  animation: kf-spin 2s infinite linear;
}
.kf-pulse {
  -webkit-animation: kf-spin 1s infinite steps(8);
  animation: kf-spin 1s infinite steps(8);
}
@-webkit-keyframes kf-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes kf-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.kf-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.kf-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.kf-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.kf-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.kf-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
.kf-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.kf-ul > li {
  position: relative;
}
.kf-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.kf-li.kf-lg {
  left: -1.85714286em;
}
